# Python stuff
.coverage*
.eggs/
.pytest_cache/
.tox/
__pycache__/
venv/
*.egg-info/

# Docker meta files
.dockerignore
Dockerfile

# JetBrains IDE workspace info
.idea/

# (Meta)files unnecessary for running
.travis/
.travis.yml
LICENSE
README.md
config.json.example
tests/
tox.ini

# Live stuffs
*.sqlite
config.json
