git+https://github.com/Rapptz/discord.py@rewrite
aiodns==1.1.1
aiohttp==2.3.9
appdirs==1.4.3
async-timeout==2.0.0
chardet==3.0.4
coverage==4.4.2
feedparser==5.2.1
idna==2.6
multidict==4.0.0
packaging==16.8
pycares==2.3.0
pyparsing==2.2.0
six==1.11.0
SQLAlchemy==1.2.1
websockets==4.0.1
yarl==1.1.0
